* {
  box-sizing: border-box;
}
.demo10 {
  width: 100%;
  overflow: hidden;

  .list {
    display: flex;
    flex-wrap: nowrap;
    background: #333;
  
    .item {

      img {
        vertical-align: bottom;
        max-width: 100%;
      }
    } // .item
  }
} // .demo10
